table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table th {
    background: lightgrey;
    white-space: nowrap;
    text-align: right;
    position: relative;
    padding: .4em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }

tr:first-child th {
    vertical-align: bottom;
}

tr:first-child th > * {
    display:block;
    bottom: 0;
    writing-mode:tb-rl;
    text-orientation: sideways;
    white-space: nowrap;
}